/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
  font-family: 'Baloo Chettan 2', cursive;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Start your code here: */
/* ----------- VARIABLES ------------ */
/* ----------- BODY ------------ */
* {
  font-family: 'Baloo Chettan 2', cursive;
}
body {
  background-color: #252629;
  /* -----NAVIGATION ------ */
  /* -----SECOND HERO SECTION ------ */
  /* -----THIRD HERO SECTION ------ */
  /* ----- FOURTH HERO SECTION ------ */
  /* ----- FIFTH HERO SECTION ------ */
  /* ----- SIXTH HERO SECTION ------ */
}
body #backgroundImg {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/backgroundImg1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  /* ------- HERO ------ */
}
body #backgroundImg .hero {
  padding-left: 40px;
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
body #backgroundImg .hero h1 {
  font-size: 4rem;
  color: #ffffff;
  padding-bottom: 1rem;
}
body #backgroundImg .hero h3 {
  font-size: 2rem;
  color: #ffffff;
}
body #backgroundImg .hero button {
  margin-top: 1rem;
}
body nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: #383636;
  height: 60px;
}
body nav .firstBoxNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body nav .firstBoxNav li a {
  color: #ffffff;
}
body nav .firstBoxNav li a:link {
  text-decoration: none;
}
body nav .firstBoxNav li a:link img {
  padding-right: 10px;
  padding-left: 20px;
  width: 80px;
}
body nav .firstBoxNav li a:link a:visited {
  color: #ffffff;
}
body nav .secondBoxNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body nav .secondBoxNav li a {
  color: #ffffff;
}
body nav .secondBoxNav li a:link {
  text-decoration: none;
  padding: 40px;
}
body nav .secondBoxNav li a:visited {
  color: #ffffff;
}
body nav .lastBoxNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
body nav .lastBoxNav a {
  color: #ffffff;
}
body nav .lastBoxNav a:link {
  text-decoration: none;
  color: #ffffff;
}
body nav .lastBoxNav a:visited {
  color: #ffffff;
}
body .secondGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 200px;
  margin-left: 40px;
  margin-bottom: 200px;
}
body .secondGrid .gridBox1 {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
body .secondGrid .gridBox1 #second {
  color: #ffffff;
  padding-bottom: 20px;
  font-size: 3rem;
}
body .secondGrid .gridBox1 .firstLabel {
  padding-bottom: 10px;
}
body .secondGrid .gridBox1 .secondLabel {
  padding-bottom: 10px;
  padding-top: 20px;
}
body .secondGrid .gridBox1 #genre {
  width: 150px;
}
body .secondGrid .gridBox1 #person {
  width: 150px;
}
body .secondGrid .gridBox1 #submit {
  width: 150px;
  margin-top: 35px;
}
body .secondGrid .gridBox2 figure {
  width: 50vw;
}
body .secondGrid .gridBox2 figure img {
  width: 100%;
}
body .thirdGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
body .thirdGrid figure {
  width: 60%;
}
body .thirdGrid figure img {
  width: 100%;
  margin-bottom: 30px;
}
body .thirdGrid h2 {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
}
body .thirdGrid p {
  color: #ffffff;
  margin-bottom: 50px;
  text-align: center;
}
body .textAboveGrid4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .textAboveGrid4 h2 {
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 10px;
  text-align: center;
}
body .textAboveGrid4 p {
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}
body .fourthGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  grid-gap: 5px;
}
body .fourthGrid .card img {
  width: 100%;
}
body .fourthGrid .one {
  grid-column: 0.33333333;
  grid-row: 0.2;
}
body .textAboveGrid5 h2 {
  color: #ffffff;
  font-size: 3rem;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: 40px;
}
body .textAboveGrid5 button {
  color: black;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 40px;
}
body .fifthGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 40px;
  margin-right: 40px;
  grid-gap: 20px;
}
body .fifthGrid .icon1,
body .fifthGrid .icon2,
body .fifthGrid .icon3 {
  color: #ffffff;
}
body .fifthGrid .icon1 img,
body .fifthGrid .icon2 img,
body .fifthGrid .icon3 img {
  width: 40px;
}
body .fifthGrid .icon1 h2,
body .fifthGrid .icon2 h2,
body .fifthGrid .icon3 h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 20px;
}
body .video {
  width: 100vw;
}
body .video iframe {
  width: 100%;
  height: 450px;
}
body .lowerHero figure {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/lowerHero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
}
body .lowerHero figure img {
  width: 100%;
}
body .lowerHero span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .lowerHero span h1 {
  color: white;
  font-size: 4rem;
}
body .lowerHero span p {
  color: white;
  margin-top: 20px;
}
body .lowerHero span button {
  margin-top: 20px;
}
